### Agenda: 


* filtering data in Dataframe

---

In [1]:
# Import Libraries

import os
import pandas as pd

In [2]:
# Declare the file path

csvpath = os.path.join('Resources', 'imdb_1000.csv')

In [3]:
# Read the csv file into a dataframe using read_csv function

df = pd.read_csv(csvpath)
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

#### Applying filters on Dataframe

> 1. Using For Loop

  > Not a good implementation in real world problems as it takes more ressource and time to execute particularly for large data

In [12]:
# Get data with duration greater than 175

booleans = []

for length in df.duration:
    if length >= 175:
        booleans.append(True)
        
    else:
         booleans.append(False)

In [11]:
df[booleans].head()

,star_rating,title,content_rating,genre,duration,actors_list
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."

---

> 2. Using Series Implementation

In [14]:
df[df.duration >= 175][:10]

,star_rating,title,content_rating,genre,duration,actors_list
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia..."
40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."

In [15]:
type(df[df.duration >= 175])

pandas.core.frame.DataFrame

#### To Select a specific Series from the Dataframe

In [16]:
df[df.duration >= 175].genre

1          Crime
2          Crime
7      Adventure
8      Biography
10     Adventure
14     Adventure
17         Drama
26       Western
40         Crime
78         Crime
82        Action
85     Adventure
89         Drama
93        Comedy
109       Comedy
132        Drama
142    Adventure
143    Biography
156    Biography
157        Drama
166        Drama
184        Drama
204    Adventure
220    Biography
245    Adventure
300        Crime
316        Drama
318        Drama
335        Drama
339    Adventure
361        Drama
385       Action
424    Adventure
445    Adventure
456        Drama
476        Drama
534       Action
611       Comedy
620        Drama
630    Biography
671       Action
767       Action
941        Drama
Name: genre, dtype: object