### Agenda: 




* **``pivot``** function used to munge the data

---

In [5]:
# Import Libraries

import os
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
# File Location

file = os.path.join('Resources', 'weather.csv')

In [7]:
# Read csv to dataframe

df = pd.read_csv(file)
df

       day          city  wind_speed  precipitation
0  10/5/18   Los Angeles          23             23
1  10/6/18   Los Angeles          28             28
2  10/7/18   Los Angeles          27             27
3  10/5/18  Santa Monica          27             22
4  10/6/18  Santa Monica          23             23
5  10/7/18  Santa Monica          28             23
6  10/5/18      Pasadena          27             27
7  10/6/18      Pasadena          27             29
8  10/7/18      Pasadena          27             27

#### Pivot Function

In [8]:
# Specify the index and columns

df.pivot(index='day', columns='city')

         wind_speed                       precipitation
city    Los Angeles Pasadena Santa Monica   Los Angeles Pasadena Santa Monica
day
10/5/18          23       27           27            23       27           22
10/6/18          28       27           23            28       29           23
10/7/18          27       27           28            27       27           23

In [9]:
# Specify the values 

df.pivot(index='day', columns='city', values='precipitation')

city     Los Angeles  Pasadena  Santa Monica
day
10/5/18           23        27            22
10/6/18           28        29            23
10/7/18           27        27            23

In [10]:
# Specify the values 

df.pivot(index='day', columns='city', values='wind_speed')

city     Los Angeles  Pasadena  Santa Monica
day
10/5/18           23        27            27
10/6/18           28        27            23
10/7/18           27        27            28