### Agenda: 




* **``Melt``** function to munge data

---

In [1]:
# Import Libraries

import pandas as pd

In [2]:
#Create Dataframe

df1 = pd.DataFrame({'days':['Mon','Tue', 'Wed', 'Thu', 'Fri','Sat','Sun'],
                   'temp':[33,34,31,34,35,37,34],
                   'humidity':[60,68,55,57,45,48,55]},
                  columns=['days', 'temp','humidity'])

df1

  days  temp  humidity
0  Mon    33        60
1  Tue    34        68
2  Wed    31        55
3  Thu    34        57
4  Fri    35        45
5  Sat    37        48
6  Sun    34        55

#### Applying Melt

In [3]:
pd.melt(df1, id_vars='days')

   days  variable  value
0   Mon      temp     33
1   Tue      temp     34
2   Wed      temp     31
3   Thu      temp     34
4   Fri      temp     35
5   Sat      temp     37
6   Sun      temp     34
7   Mon  humidity     60
8   Tue  humidity     68
9   Wed  humidity     55
10  Thu  humidity     57
11  Fri  humidity     45
12  Sat  humidity     48
13  Sun  humidity     55

In [5]:
#Specify the variable name and value name

pd.melt(df1, id_vars='days', var_name='metric', value_name='measurement')

   days    metric  measurement
0   Mon      temp           33
1   Tue      temp           34
2   Wed      temp           31
3   Thu      temp           34
4   Fri      temp           35
5   Sat      temp           37
6   Sun      temp           34
7   Mon  humidity           60
8   Tue  humidity           68
9   Wed  humidity           55
10  Thu  humidity           57
11  Fri  humidity           45
12  Sat  humidity           48
13  Sun  humidity           55