### Agenda: 




* **``Stack``** function 

* **``Unstack``** function

---

In [1]:
# Import Libraries

import os
import pandas as pd

In [2]:
# File Location

file = os.path.join('Resources', 'Products-1.xlsx')

In [3]:
# Read csv to dataframe

dairy = pd.read_excel(file, header = [0,1,2])
dairy

           California                                             Nevada  \
           Los Angles               Santa Monica               Las Vegas
day              milk cheese butter         milk cheese butter      milk
2017-01-01         21     15     12           21     15     12        18
2017-01-02         22     14     11           22     14     11        22
2017-01-03         21     15     10           21     15     10        21
2017-01-04         23     13     12           23     13     12        22
2017-01-05         21     14     10           21     14     10        21
2017-01-06         22     15     11           22     15     11        22


                         Reno
day        cheese butter milk cheese butter
2017-01-01     15     12   18     15     12
2017-01-02     14     11   22     14     11
2017-01-03     15     10   21     15     10
2017-01-04     13     12   22     13     12
2017-01-05     14     10   21     14     10
2017-01-06     15     11   22     15     11

#### Stack without Specifying the level of Stacking

In [4]:
dairy.stack(level=[0,1])

day                                 butter  cheese  milk
2017-01-01 California Los Angles      12.0    15.0  21.0
                      Santa Monica    12.0    15.0  21.0
           Nevada     Las Vegas       12.0    15.0  18.0
                      Reno            12.0    15.0  18.0
2017-01-02 California Los Angles      11.0    14.0  22.0
                      Santa Monica    11.0    14.0  22.0
           Nevada     Las Vegas       11.0    14.0  22.0
                      Reno            11.0    14.0  22.0
2017-01-03 California Los Angles      10.0    15.0  21.0
                      Santa Monica    10.0    15.0  21.0
           Nevada     Las Vegas       10.0    15.0  21.0
                      Reno            10.0    15.0  21.0
2017-01-04 California Los Angles      12.0    13.0  23.0
                      Santa Monica    12.0    13.0  23.0
           Nevada     Las Vegas       12.0    13.0  22.0
                      Reno            12.0    13.0  22.0
2017-01-05 California Los Angles      10.0    14.0  21.0
                      Santa Monica    10.0    14.0  21.0
           Nevada     Las Vegas       10.0    14.0  21.0
                      Reno            10.0    14.0  21.0
2017-01-06 California Los Angles      11.0    15.0  22.0
                      Santa Monica    11.0    15.0  22.0
           Nevada     Las Vegas       11.0    15.0  22.0
                      Reno            11.0    15.0  22.0

In [6]:
dairy1 = dairy.stack()
dairy1

                  California                 Nevada
                  Los Angles Santa Monica Las Vegas Reno
           day
2017-01-01 butter         12           12        12   12
           cheese         15           15        15   15
           milk           21           21        18   18
2017-01-02 butter         11           11        11   11
           cheese         14           14        14   14
           milk           22           22        22   22
2017-01-03 butter         10           10        10   10
           cheese         15           15        15   15
           milk           21           21        21   21
2017-01-04 butter         12           12        12   12
           cheese         13           13        13   13
           milk           23           23        22   22
2017-01-05 butter         10           10        10   10
           cheese         14           14        14   14
           milk           21           21        21   21
2017-01-06 butter         11           11        11   11
           cheese         15           15        15   15
           milk           22           22        22   22

In [10]:
dairy1 = dairy.stack(level=[0,1,2])
dairy1

                                      day
2017-01-01  California  Los Angles    butter    12.0
                                      cheese    15.0
                                      milk      21.0
                        Santa Monica  butter    12.0
                                      cheese    15.0
                                      milk      21.0
            Nevada      Las Vegas     butter    12.0
                                      cheese    15.0
                                      milk      18.0
                        Reno          butter    12.0
                                      cheese    15.0
                                      milk      18.0
2017-01-02  California  Los Angles    butter    11.0
                                      cheese    14.0
                                      milk      22.0
                        Santa Monica  butter    11.0
                                      cheese    14.0
                                      milk      22.0
            Nevada      Las Vegas     butter    11.0
                                      cheese    14.0
                                      milk      22.0
                        Reno          butter    11.0
                                      cheese    14.0
                                      milk      22.0
2017-01-03  California  Los Angles    butter    10.0
                                      cheese    15.0
                                      milk      21.0
                        Santa Monica  butter    10.0
                                      cheese    15.0
                                      milk      21.0
                                                ...
2017-01-04  Nevada      Las Vegas     butter    12.0
                                      cheese    13.0
                                      milk      22.0
                        Reno          butter    12.0
                                      cheese    13.0
                                      milk      22.0
2017-01-05  California  Los Angles    butter    10.0
                                      cheese    14.0
                                      milk      21.0
                        Santa Monica  butter    10.0
                                      cheese    14.0
                                      milk      21.0
            Nevada      Las Vegas     butter    10.0
                                      cheese    14.0
                                      milk      21.0
                        Reno          butter    10.0
                                      cheese    14.0
                                      milk      21.0
2017-01-06  California  Los Angles    butter    11.0
                                      cheese    15.0
                                      milk      22.0
                        Santa Monica  butter    11.0
                                      cheese    15.0
                                      milk      22.0
            Nevada      Las Vegas     butter    11.0
                                      cheese    15.0
                                      milk      22.0
                        Reno          butter    11.0
                                      cheese    15.0
                                      milk      22.0
Length: 72, dtype: float64

#### Unstack

In [13]:
dairy1.unstack(level=[1,2])

                  California                 Nevada
                  Los Angles Santa Monica Las Vegas  Reno
           day
2017-01-01 butter       12.0         12.0      12.0  12.0
           cheese       15.0         15.0      15.0  15.0
           milk         21.0         21.0      18.0  18.0
2017-01-02 butter       11.0         11.0      11.0  11.0
           cheese       14.0         14.0      14.0  14.0
           milk         22.0         22.0      22.0  22.0
2017-01-03 butter       10.0         10.0      10.0  10.0
           cheese       15.0         15.0      15.0  15.0
           milk         21.0         21.0      21.0  21.0
2017-01-04 butter       12.0         12.0      12.0  12.0
           cheese       13.0         13.0      13.0  13.0
           milk         23.0         23.0      22.0  22.0
2017-01-05 butter       10.0         10.0      10.0  10.0
           cheese       14.0         14.0      14.0  14.0
           milk         21.0         21.0      21.0  21.0
2017-01-06 butter       11.0         11.0      11.0  11.0
           cheese       15.0         15.0      15.0  15.0
           milk         22.0         22.0      22.0  22.0